@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans;
    background: rgb(225, 219, 232);
    color: #eee;
}

body{
    background-image: url("https://images.unsplash.com/photo-1476445704028-a36e0c798192?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    box-sizing: border-box;
}

.links-container{
    height: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
    backdrop-filter: brightness(50%) blur(7px);
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(4px); */
    border-radius: 1rem;
    transition: all 0.2s;
    font-size: 1.75rem;
    user-select: none;
}

.link .arrow{
    font-size: 2rem;
    opacity:0;
    transition: 
        opacity 0.2s ease,
        transform 0.2s ease-in;
    transform: translateX(-1rem);
}

.link:hover{
    scale: 1.03;
}

.link:active{
    filter: brightness(80%);
}

.link:nth-of-type(1){
    background: rgba(255, 91, 91, 0.271);
}

.link:nth-of-type(2){
    background: rgba(217, 255, 184, 0.425);
}

.link:nth-of-type(3){
    background: rgba(228, 182, 255, 0.444);
}

.link:nth-of-type(4){
    background: rgba(255, 255, 255, 0.425);
}

.link:hover .arrow{
    opacity: 1;
    transform: translateX(1rem);
}

.credits{
    height: 7%;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
