:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    color-scheme: light dark;
    
    --gray-900: 17, 24, 39;
    --gray-800: 31, 41, 55;
    --gray-700: 55, 65, 81;
    --gray-600: 75, 85, 99;
    --gray-500: 107, 114, 128;
    --gray-400: 156, 163, 175;
    --gray-300: 209, 213, 219;
    --gray-200: 229, 231, 235;
    --gray-100: 243, 244, 246;
    --gray-50: 249, 250, 251;
    
    --bg-color: var(--gray-900);
    --text-color: var(--gray-50);
    
    --sky-900: 12, 74, 110;
    --sky-800: 7, 89, 133;
    --sky-700: 3, 105, 161;
    --sky-600: 2, 132, 199;
    --sky-500: 14, 165, 233;
    --sky-400: 56, 189, 248;
    --sky-300: 125, 211, 252;
    --sky-200: 186, 230, 253;
    --sky-100: 224, 242, 254;
    --sky-50: 240, 249, 255;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: Raleway;
    box-sizing: border-box;
    transition: all 0.2s;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

a {
    font-weight: 500;
    color: rgb(var(--sky-500));
    text-decoration: inherit;
}

a:hover {
    color: rgb(var(--sky-400));
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: rgba(var(--sky-500), 0.25);
    border: 1px solid rgba(var(--sky-500), 0.35);
    border-radius: 0.25rem;
}

button:hover {
    background-color: rgba(var(--sky-500), 0.5);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"]{
    background: rgb(var(--gray-700));
    padding: 0.75rem;
    outline: none;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    font-size: 20px;
}
input[type="text"]:focus, input[type="text"]:focus-within{
    border: 2px solid rgb(var(--sky-700));
}

#app {
    width: 100%;
    height: 100%;
    background: rgb(var(--bg-color));
    color: --text-color;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(var(--gray-700));
    background: rgb(var(--gray-800));
    max-width: 60%;
    box-shadow: 0 10px 1rem 1rem rgba(7, 14, 29, 0.5);
    height: auto;
}
#typing-test-result-box{
    min-width: 40%;
}
#typing-test-result-box .results-container{
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 1rem;
}
#typing-test-result-box .results-container img{
    width: 100%;
}

.success {
    color: #51bc78;
}
.failure{
    color: #d75050;
}

#notification{
    position: absolute;
    padding: 1rem;
    text-align: center;
    background: rgb(var(--gray-800));
    width: 20%;
    border: 1px solid rgb(var(--sky-500));
    border-left: 10px solid rgb(var(--sky-500));
    left: 50%;
    bottom: -100%;
    translate: -50% -50%; 
}

#username-error{
    margin-bottom: 0px;
    display: none;
    color: #cb1a1a;
    font-weight:bolder;
}

#typing-test-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

#text{
    background: rgb(var(--gray-900));
    padding: 1rem;
    border-radius: 1rem;
    font-size: 18px;
}
#type{
    background: rgb(var(--gray-900));
    font-family: sans;
    font-size: 18px;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    border: 1px solid transparent;
}
#type:focus, #type:focus-within{
    border: 1px solid rgb(var(--sky-500));
}

svg{
    position: absolute;
    left: 50%;
    top: 5%;
    translate: -50% -50%;
    rotate: -90deg;
    z-index: 2;
}
#circle-animation{
    stroke: rgb(var(--sky-500));
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transition: all 1s linear;
}

#countdown{
    font-family: sans;
    font-size: 40px;
    margin: 0;
}

.hide{
    scale: 0;
    display: none;
}
.show{
    display: block;
    scale: 1;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.25rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 1.75rem;
}
h5{
    font-size: 1rem;
}
