html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: sans;
}

button{
  border: 1px solid black;
  outline: none;
  padding: 10px;
  color: black;
  font-size: 15px;
  border-radius: 5px;
}
